<% layout('../../modules/users/user-details') -%>

  <link rel="stylesheet" href="/app-assets/css/jquery.fancybox.min.css" media="screen">
  <script src="/js/jquery.fancybox.min.js"></script>

  <!-- User Content -->
  <div class="col-xl-8 col-lg-7 col-md-7 order-0 order-md-1">
    <!-- User Pills -->
    <!-- <ul class="nav nav-pills mb-2">
        <li class="nav-item">
            <a class="nav-link active" href="#">
                <i data-feather="user" class="font-medium-3 me-50"></i>
                <span class="fw-bold">Account</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i data-feather="pie-chart" class="font-medium-3 me-50"></i>
                <span class="fw-bold">Security</span>
            </a>
        </li>
    </ul> -->
    <!--/ User Pills -->


    <!-- User Security Tab -->
    <div class="card" id="user-security-tab">
      <h4 class="card-header">Change Password</h4>
      <div class="card-body">
        <form id="formChangePassword" action="/users/change-password" method="POST" enctype='application/x-www-form-urlencoded'>
          <div class="alert alert-warning mb-2" role="alert">
            <h6 class="alert-heading">Ensure that these requirements are met</h6>
            <div class="alert-body fw-normal">Minimum 8 characters long, uppercase, lowercase, number &
              symbol between: <b><i>#?!@$%^&*-</i></b>
            </div>
          </div>
          <div class="row">
            <div class="mb-2 col-md-6 form-password-toggle">
              <label class="form-label" for="new_password">New Password</label>
              <div class="input-group input-group-merge form-password-toggle">
                <input class="form-control" type="password" id="new_password" name="new_password"
                  placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" />
                <span class="input-group-text cursor-pointer">
                  <i data-feather="eye"></i>
                </span>
              </div>
            </div>
            <div class="mb-2 col-md-6 form-password-toggle">
              <label class="form-label" for="confirm_password">Confirm New Password</label>
              <div class="input-group input-group-merge">
                <input class="form-control" type="password" name="confirm_password" id="confirm_password"
                  placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" />
                <span class="input-group-text cursor-pointer"><i data-feather="eye"></i></span>
              </div>
            </div>
            <div>
              <input type="hidden" name="id" value="<%= response._id %>">
              <button type="submit" class="btn btn-primary me-2">Change Password</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- User Security Tab -->

    <!-- Activity Timeline -->
    <div class="card d-none" id="user-account-tab">
      <h4 class="card-header">Recent 5 Activity Timeline</h4>
      <div class="card-body pt-1">
        <% if (activities.length) {%>
          <ul class="timeline ms-50">
            <% for (let activity of activities) {%>
              <li class="timeline-item">
                <% stateNum=Math.floor(Math.random() * 6) + 1; states=['success', 'danger' , 'warning' , 'info' , 'dark'
                  , 'primary' , 'secondary' ]; $state=states[stateNum] %>
                  <span class="timeline-point timeline-point-<%= $state %> timeline-point-indicator"></span>
                  <div class="timeline-event">
                    <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1">
                      <h6><%- activity.title %></h6>
                      <span class="timeline-event-time me-1 handle-date-time"
                        data-time="<%= activity.createdAt %>">Calculating . . .</span>
                    </div>
                    <p class="mb-0"><%- activity.description %></p>
                    <% if (activity.file_full_path) {%>
                      <a href="<%= activity.file_full_path %>" class="d-flex flex-row align-items-center mt-50">
                        <img class="me-1" src="../../../app-assets/images/icons/unknown.png" alt="data.json" height="25" />
                        <h6 class="mb-0">File</h6>
                      </a>
                      <%}%>
                  </div>
              </li>
              <% } %>
          </ul>
          <%} else {%>
            <p>No Activity Found!</p>
            <%}%>
      </div>
    </div>
    <!-- /Activity Timeline -->
  </div>
  <!--/ User Content -->